.auth {
  display: flex;
  height: 100vh;

  &__title {
    font-weight: 500;
    font-size: 32px;
    text-align: center;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin: auto;
    max-width: 500px;
    padding: 40px 100px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background: #ffffff;
  }

  &__form {
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__input {
    padding: 8px 4px;
    border-bottom: 1px solid #e1e1ef;
  }
}
