.comment {
  background-color: #ffffff;
  border-bottom: 2px solid;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
  }

  &__head {
    margin-bottom: 10px;
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__button {
    padding: 6px 12px;
  }
}
