@import "normalize";
@import "auth";
@import "search";
@import "podcast";

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap");

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
  margin: 0;
}

body {
  background-color: #fbfbfd;
  font-family: "Fira Sans", sans-serif;
}

input {
  border: none;
  outline: none;
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header {
  padding: 15px 0;
  text-align: center;
  &__icon {
    cursor: pointer;
  }
}

button {
  border: 0;
}
